* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../images/bg.jpg);
    color: #FAEBD7;
}

h1 {
    text-align: center;
    padding-block: 5rem;
    font-size: 5rem;
}

.usuarioAdded {
    display: none;
}


.usuarios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 1rem;
}

h2 {
    text-align: center;
    font-size: 3.5rem;
}
.usuarios ul {
    text-align: left;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 2.5rem;
}



form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
}

form label {
    padding-right: 2rem;
}